<% content_for(:navbar) do %>
  <%= render 'shared/navbars/navbar_sign_up' %>
<% end %>

<div class="navbar-box">
  <div class="container">
    <h3>Guardians</h3>

    <p>Guardians are...</p>
  </div>
</div>

<div class="wizard-box text-center">
  <h2>Guardians are...</h2>
  <h2>Would you like to add a guardian?</h2>
  <%= simple_form_for(@user, url: wizard_path, method: :put, class: "sign-up-form") do |f| %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= link_to 'No', wizard_path(:complete), class: "butt" %>
        <%= link_to 'Yes', wizard_path(:guardian_basic), class: "butt" %>
      </div>
    </div>
  <% end %>
</div>
