<br><br>

<div class="container-box">
  <div class="header-box">
    <h2>My Digital Assets</h2>
    <%= link_to "#", class: "btn btn-info btn-default", id: "profile-icon" do %>
      <i class="fa fa-user cloud-icon" aria-hidden="true"></i>
      <h4>Profile</h4>
    <% end %>
  </div>

  <br>

  <div class="blue-box">
    <p>You can pass on digital assets so that...</p>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    // Clicking on profile icon loads tab content
    $('#profile-icon').click(function(e){
      e.preventDefault();
      $('.sidebar-tabs').children().removeClass('active');
      $('#profile-sidebar-tab').addClass('active')
      $.ajax({
          type: "GET",
          url: <%= @user.id %> + "/profile",
          data: { },
          success: function(data){
              $('#tab-content').empty().html(data);
          }
      });
    });
  </script>
<% end %>
