<div class="grey-box">
  <h2>Proof of Residency</h2>

  <div class="blue-box">
    <p>In order to authenticate your presence in the UK prior to the Brexit Referendum, register your proofs of residency as HMRC Letters, Council Tax, Children Scholarship Certificate, etc... </p>
  </div>
</div>
