<% content_for(:navbar) do %>
  <%= render 'shared/navbars/navbar_sign_up' %>
<% end %>

<div class="navbar-box">
  <div class="container">
    <h3>Welcome to BrexitProof</h3>

    <p>A confirmation email has been sent to your account, please follow the contained link to continue.</p>
  </div>
</div>

<div class="container">
  <p class="sign-up-title-">A confirmation email has been sent to your account, please follow the contained link to continue.</p>

  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
</div>
