<div id="assignee-index">
  <br>

  <% content_for(:navbar) do %>
    <%= render 'shared/navbar' %>
  <% end %>

  <div class="dashboard-box">
    <div id="tab-content">
      <% if @type == "Recipient" %>
        <%= render 'assignees/other_index' %>
      <% else %>
        <%= render 'assignees/core_index' %>
      <% end %>
    </div>
  </div>

</div>
