<% content_for(:navbar) do %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="dashboard-box">
  <div id="tab-content">
    <div class="container">
      <br>
      <div class="grey-box">
        <%= render 'assignees/form' %>
      </div>
    </div>
  </div>
</div>
